.auth_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.auth_container_left,
.auth_container_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
